
body {
  background: url('https://drive.google.com/uc?id=13dthwCtU8Y751cQG4uPpSTI0MqZfzsAd') top right no-repeat;
  background-attachment:fixed;
  background-size: 1120px;
  background-position: right 0px bottom -100px;
}

#Bio {
  top: 8px;
  right: 16px;
  font-size: 22px;
}

#top-bar {
  max-width: 70%;
  max-height: 70%;
  margin-left: 350px;
}

#left-bar {
  max-width: 27%;
  max-height: 27%;
  margin-top: -1037px;
}

#triangle {
  max-width: 20%;
  max-height: 20%;
  margin-left: 1153px;
  margin-top: 240px;
}
